# Files to exclude when creating archive
/.ci export-ignore
/.github export-ignore
/tests export-ignore
/util export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpstan.neon export-ignore
/phpunit-integration-tests.xml export-ignore
/phpunit-yaml-free-tests.xml export-ignore
/phpunit-yaml-platinum-tests.xml export-ignore
/phpunit.xml.dist export-ignore
#/docs export-ignore
/.buildkite export-ignore
