parameters:
    ignoreErrors:

        # nullable types are missing everywhere
        # this should be removed and fixed in the code later
        - '#Variable (.*) in isset\(\) always exists and is not nullable.#'
        - '#Constant JSON_THROW_ON_ERROR not found#'
        - '#class JsonException#'
        -
            message: '#is not subtype of Throwable#'
            path: %currentWorkingDirectory%/src/Elasticsearch/ClientBuilder.php
