<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        failOnRisky="true"
        verbose="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
>
    <php>
        <env name="ES_TEST_HOST" value=""/>
        <!-- Disable E_USER_DEPRECATED setting E_ALL & ~E_USER_DEPRECATED-->
        <ini name="error_reporting" value="16383"/>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
            <exclude>tests/Elasticsearch/Tests/YamlRunnerTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
