<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        failOnRisky="true"
        verbose="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests</directory>
            <exclude>tests/Elasticsearch/Tests/YamlRunnerTest.php</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>Integration</group>
            <group>free</group>
            <group>platinum</group>
        </exclude>
    </groups>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
