name: Unified Release Manager Checks

on:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main
      - master
      - '[0-9]+.[0-9]+'
      - '[0-9]+.x'

jobs:
  assemble:
    name: Assemble
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        stack_version: ['8.9.0-SNAPSHOT']

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: "./.ci/make.sh assemble ${{ matrix.stack_version }}"
        name: Assemble ${{ matrix.stack_version }}